doctype
html(lang='en')
  head
    title= gilliam
    script(type='text/javascript' src='third_party/compendium.js')
    script(type='text/javascript' src='third_party/jquery.js')
    script(type='text/javascript' src='third_party/underscore.js')
    script(type='text/javascript' src='lib/application.js')
    link(rel='stylesheet' href='css/style.css')
  body
    #sofia
      header
        h2 gilliam: visualize text
      #main
        form#a
          input#sentence(type='text' name='sentence')
          input#s(type='submit' value='visualize')
        div#search
        div#loading.
          //- ves
          huh

      footer
        a(href='http://alehander42.me' target='_blank').
          alexander ivanov 2015

